<section class="gotowiec-mieszkanie my-5 py-5 trigger">
    <div class="container gotowiec__container-small">
        <div class="row align-items-center">

            <div class="col-12 col-md-5 gotowiec-mieszkanie__left">

                <div class="srodek text-center text-md-left">
                    {{ content.tytul | raw}}
                </div>

                <div class="row my-5 px-3 px-md-0">
                    {% for item in content.lista %}
                    {%if item.gora and item.dol %}

                    <div class="col col-md gotowiec-mieszkanie__number text-center">
                        <div>
                            {{ item.gora | raw}}
                        </div>
                        <div class="d-flex justify-content-center">
                            {{ item.dol | raw}}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                {%if content.opis %}
                <div class="mt-5 mt-lg-0 text-center text-md-left opis">
                    {{ content.opis | raw}}
                </div>
                {% endif %}
                {%if content.button_tekst %}
                <div class="d-flex justify-content-center justify-content-md-start">
                    <button type="button" class="btn"
                        style="color: white; width: 100%; max-width: 300px; height: 5%; margin-top: 2rem;">
                        {{content.button_tekst | raw}}
                    </button>
                </div>
                {% endif %}
            </div>
            {%if content.zdjecie %}

            <div class="col-12 col-md-7 d-block gotowiec-mieszkanie__right">
                <img src="{{ cdn(content.zdjecie) }}" class="img-fluid w-100" style="max-height: 100%;"
                    alt="Wizualizacja">
            </div>

            {% endif %}

        </div>
    </div>
</section>